@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  }

  body {
  height: 100vh;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
}
  .logo{
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.tip-calculator{
  margin-left:350px;
  background-color: hsl(0, 0%, 100%);
  width: 700px;
  display: flex;
  padding: 1.5rem;
  border-radius: 1rem;
  gap: 2rem;
}
.flex-container{
  flex: 1;
  border-radius: 10px;
}
.flex{
  display: flex;
  flex-direction: column;
}
label{
  color:hsl(183, 100%, 15%);
  font-family: 700;
  margin-bottom: 5px;
  font-size: 0.7rem;
  font-weight: bolder;
}
input{
  border: none;
  outline: none;
  padding: 5px;
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 10px;
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-size: 0.9rem;
  font-weight: bolder;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
input [type="number"]{
  -moz-appearance: textfield; /* Firefox */
}

.bill-input{
  background-image: url("images/icon-dollar.svg");
  margin-bottom:30px;
}
.tips-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.buttons{
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 5px;
  cursor: pointer;
}
.buttons:hover{
  background-color: hsl(172, 67%, 45%);
}
.buttons.active{
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip-custom{
  width: 100px;
  font-size: 1rem;
  border-radius: 0.2rem;
  color: hsl(183, 100%, 15%);
  text-align: center;
  padding:0;
}
.right-container{
  background-color:hsl(183, 100%, 15%);
  padding: 40px;
  
}
.people-input{
  background-image: url("images/icon-person.svg");;
}
.text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;

}
.amount-text{
  color: hsl(0, 0%, 100%);
}
.amount-number{
  text-align: right;
  font-size: 2.2rem;
  font-weight: bolder;
  color: hsl(172, 67%, 45%);
}
.person{
  color: hsl(184, 14%, 56%);
  font-size: 12px;
}
.reset-button{
  margin-top: 100px;
}
.reset-btn{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px 32px;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  opacity:0.7;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}
.has-reset-activated{
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}